<div>
    <div class="header clearfix">
        <h3 class="text-muted">Project name</h3>
        <nav class="buttons">
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active button btn btn-lg btn-primary"><a href="#">Home</a></li>
                <li role="presentation" class="button btn btn-lg btn-link"><a href="#">About</a></li>
                <li role="presentation" class="button btn btn-lg btn-link"><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>